<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
</head>
<body>
    <h1>Expense Tracker</h1>

    <h2>Total Expenses: ₹{{ total }}</h2>

    <a href="/add">Add Expense</a>
    <br><br>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Note</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>

        {% for e in expenses %}
        <tr>
            <td>{{ e[0] }}</td>
            <td>{{ e[1] }}</td>
            <td>{{ e[2] }}</td>
            <td>{{ e[3] }}</td>
            <td>{{ e[4] }}</td>
            <td><a href="/delete/{{ e[0] }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
